@model ValaisTourisme_MVC.ViewModel.ReserveVM
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <h2>Réservation</h2>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="Checkin" class="control-label col-md-2">Date d'arrivée</label>
            <input type="date" id="Checkin" name="Checkin" class="form-control col-md-10" required />
        </div>
        <div class="form-group">
            <label for="Checkout" class="control-label col-md-2">Date de départ</label>
            <input type="date" id="Checkout" name="Checkout" class="form-control col-md-10" required />
        </div>
        <div class="form-group">
            <label for="Location" class="control-label col-md-2">Location</label>
            <select name="Location" id="Location" class="form-control col-md-10">
                @foreach (var location in Model.Locations)
                {
                    <option value="@location">@location</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="NbPerson" class="control-label col-md-2">Nombre de Personne : </label>
            <select name="NbPerson" id="NbPerson" class="form-control col-md-10">
                @for (var i = 1; i <= 20; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" style="margin-left:30%" />
        </div>
    </div>

    <div class="form-group" align="left">
        <input type="button" value="Advenced Search" onclick="showAdvenced()" class="btn btn-primary" style="margin-left:30%" />
    </div>


    // recherche avancée
        <div id="advenced" style="display: none" >
            <h4>Hotel features</h4>
            <hr />
            <div class="form-group">
                <label for="MinCategory" class="control-label col-md-2">Minimum category</label>
                <select name="MinCategory" id="MinCategory" class="form-control col-md-10">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="MaxCategory" class="control-label col-md-2">Maximum category</label>
                <select name="MaxCategory" id="MaxCategory" class="form-control col-md-10">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option selected value="5">5</option>
                </select>
            </div>
            
            <div class="form-group form-group-sort">
                <div class="col-md-2">@Html.CheckBoxFor(m => m.HasWifi) Wifi</div>
                <div class="col-md-2">@Html.CheckBoxFor(m => m.HasParking) Parking</div>
            </div>
            <br />
            <h4>Room features</h4>
            <hr />
            <div class="form-group">
                <label for="MinPrice" class="control-label col-md-2">Minimum Price</label>
                <select name="MinPrice" id="MinPrice" class="form-control col-md-10">
                    <option selected value="0">0</option>
                    @for (var i = 25; i <= 300; i = i + 25)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="MaxPrice" class="control-label col-md-2">Maximum Price</label>
                <select name="MaxPrice" id="MaxPrice" class="form-control col-md-10">
                    @for (var i = 0; i <= 275; i = i + 25)
                    {
                        <option value="@i">@i</option>
                    }
                    <option selected value="300">300</option>
                </select>
            </div>
            <div class="form-group form-group-sort">
                <div class="col-md-2">@Html.CheckBoxFor(m => m.HasTV) TV</div>
                <div class="col-md-2">@Html.CheckBoxFor(m => m.HasHairDryer) Hairdryer</div>
            </div>
        </div>

    <script>
        function showAdvenced() {
            var x = document.getElementById("advenced");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

}


