@model ValaisTourisme_MVC.ViewModel.CancelVM
@{
    ViewBag.Title = "My Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Booking - @Model.Firstname @Model.Lastname</h2>

@foreach (var date in Model.Dates)
{

<br />
<table class="table table-striped" style="width:100%;">



    <thead>
        <tr>
            <th style="width:20%">@Convert.ToDateTime(date).ToString("dd/MM/yyyy")</th>
            <th style="width:20%">From</th>
            <th style="width:20%">To</th>
            <th style="width:20%">Room</th>
            <th style="width:20%">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Booking.Where(b => b.Date==date).ToList())
        {
            <tr>
                @if (Model.Firstname.Equals("admin"))
                {
                    <td>@book.Firstname @book.Lastname</td>
                }

                <td></td>
                <td>@Convert.ToDateTime(book.CheckIn).ToString("dd/MM/yyyy")</td>
                <td>@Convert.ToDateTime(book.CheckOut).ToString("dd/MM/yyyy")</td>
                <td>@book.Room.Number</td>
                <td>@book.Price</td>
                <td id="btn">
                    @Html.ActionLink("Cancel room", "Cancel", "Cancel", new { id = book.IdBooking }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
<br/>
}







