@model ValaisTourisme_MVC.ViewModel.ReserveVM
@{
    ViewBag.Title = "Hotel List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{

    if (@Model.Hotels.Count == 0)
    {
        <div class="alert alert-warning">
            No hotel avalaible in @Model.Location for your search criteria
        </div>
    }
}


<h2>List of hotels</h2>

<br />
<table class="table table-striped" style="width:100%;">
    <thead>
        <tr>
            <th style="width:20%">Name</th>
            <th style="width:20%">Location</th>
            <th style="width:20%">Category</th>
            <th style="width:20%">Contact</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hotel in Model.Hotels)
        {
            <tr>
                <td>@hotel.Name</td>
                <td>@hotel.Location</td>
                <td>
                    @for (var i = hotel.Category; i > 0; i--)
                    {
                        <i class="glyphicon glyphicon-star"></i>

                    }
                </td>
                <td>
                    <p>@hotel.Phone</p>
                    <p>@hotel.Email</p>
                    <p>@hotel.Website</p>
                </td>
                <td>
                    <p>@Html.ActionLink("Avalaible rooms", "Details", new { id = hotel.IdHotel }, new { @class = "btn btn-primary" })</p>
                </td>
            </tr>
        }


    </tbody>
</table>
